@{
    ViewBag.Title = "People Search";
}
<link href="~/Content/Styles.css" rel="stylesheet" />


<div class="container">
    <div class="jumbotron">
        <h1>People Search</h1><br />
        <p>Welcome to the People Finder website. Here you can add people to a database, edit and update those records, and search for people.</p><br />
        <p><a class="btn btn-primary btn-lg btn-block" href="@Url.Action("Index", "People", null, null)" role="button">Get Started!</a></p>
    </div>
</div>

<div class="page-header">
    <h1 style="text-align:center">How It Works</h1>
</div>

<div class="container">
    <div class="row pricing">
        <div class="col-md-6">
            <div class="well">
                <h3><b>Looking For A PERSON?</b></h3>
                <hr>
                <p><b>Search the entire database</b></p>
                <hr>
                <p><b>Search by first name, last name, or both</b></p>
                <hr>
                <p><b>Edit or delete from the search results</b></p>
                <hr>
                <a class="btn btn-default btn-block" href="@Url.Action("Index", "People", null, null)">Search Now!</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3><b>Looking To ADD or EDIT A Person?</b></h3>
                <hr>
                <p><b>Add a new person with just a few clicks</b></p>
                <hr>
                <p><b>Easily edit a person's information or picture</b></p>
                <hr>
                <p><b>Form controls ensure valid information</b></p>
                <hr>
                <a class="btn btn-default btn-block" href="@Url.Action("Add", "People", null, null)">Add Now!</a>
            </div>
        </div>
    </div>
</div>



<script src="Scripts/jquery-1.9.1.js"></script>
<script src="Scripts/jquery-1.9.1.min.js"></script>